@import '../fonts/fonts.css';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  padding: 40px 60px;
  max-width: 100%;
  width: 100%;
}
:root{
  --MM400: 'Montserrat-Regular';
  --MM500: 'Montserrat-Medium';
  --MM600: 'Montserrat-SemiBold';
  --MM700: 'Montserrat-Bold';
  --MM800: 'Montserrat-ExtraBold';
}